<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Forgot Password</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin:
      0; padding: 0; } .container { max-width: 600px; margin: 50px auto;
      background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0,
      0, 0, 0.1); } .banner { background-color: rgb(22, 26, 57); display: flex;
      flex-direction: column; justify-content: center; align-items: center;
      padding: 25px 0; } .banner_img { width: 50px; height: 50px; } .banner_img
      img { border-radius: 50%; } img { width: 100%; height: 100%; } h2 { color:
      #333; text-align: center; padding-top: 25px; } h3 { color: #fff;
      font-size: 23px; } .btn { display: inline-block; padding: 13px 20px;
      background-color: rgb(22, 26, 57); color: #fff; text-decoration: none;
      border-radius: 3px; } .content { padding: 15px 27px; color: rgb(102, 102,
      102); } .span { text-align: center; color: rgb(136, 136, 136); } .footer {
      display: flex; justify-content: space-evenly; align-items: center; color:
      #fff; margin-top: 20px; background-color: rgb(22, 26, 57); } .contact {
      font-size: 15px; padding-left: 10px; } .social_network { display: flex;
      justify-content: space-evenly; align-items: center; width: 35%; }
      .social_network_img { width: 33px; height: 33px; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h2>K15 Store Phone</h2>

      <div class='banner'>
        <div class='banner_img'>
          <img
            src='https://www.kindpng.com/picc/m/285-2852276_email-id-verification-reminder-plugin-verify-email-illustration.png'
            alt='resetPass'
          />
        </div>
        <h3>Please reset your password</h3>
      </div>

      <div class='content'>
        <p>Hello,</p>
        <p>
          We have sent you this email in response to your request to reset your
          password on company name.
        </p>
        <p>To reset your password, please follow the link below:</p>
        <p>
          <a
            href='https://phone-ecommerce-delta.vercel.app/reset-password/{{token}}'
            class='btn'
          >Reset Password</a>
        </p>
        <p>Thanks,<br />Your App Team</p>

        <p class='span'>
          <i>Please ignore this email if you did not request a password change.</i>
        </p>
      </div>

      <div class='footer'>
        <div class='contact'>
          <h5>Contact</h5>
          <h5>
            137 Nguyễn Kiệm, Phường 3, Gò Vấp,<br />
            Thành phố Hồ Chí Minh, Việt Nam
          </h5>
          <h5>Info@company.com</h5>
        </div>
        <div class='social_network'>
          <div class='social_network_img'>
            <img
              src='https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg'
              alt='facebook'
            />
          </div>
          <div class='social_network_img'>
            <img
              src='https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/480px-Instagram_logo_2016.svg.png'
              alt='instagram'
            />
          </div>
          <div class='social_network_img'>
            <img
              src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/2491px-Logo_of_Twitter.svg.png'
              alt='twitter'
            />
          </div>
          <div class='social_network_img'>
            <img
              src='https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png'
              alt='linkedin'
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>